.main {
  background: var(--turquoise);
}

.main-container {
  align-items: center;
  background-color: var(--turquoise);
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75vh;
  justify-self: center;
  margin: 0 auto;
  width: 90%;
}

#GWP {
  padding-bottom: 4rem;
}

.main-content {
  color: var(--white);
  justify-self: start;
  margin-left: 40px;
  width: 100%;
}

.main-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
}

.main-content h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.main-content p {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.main-btn {
  background-color: var(--mustard);
  border: none;
  border-radius: 7px;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  margin: 2rem auto 0 auto;
  padding: 8px 20px;
  position: absolute;
  transition: all 0.35s;
  outline: none;
}

.main-btn a {
  color: var(--white);
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.main-btn:after {
  background: var(--turquoise);
  border-radius: 7px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.35s;
  width: 0;
}

.main-btn:hover {
  border: 1px solid var(--white);
  color: var(--darkGrey);
}

.main-btn:hover:after {
  width: 100%;
}

.main-img-container {
  text-align: center;
}

#main-img {
  height: 70%;
  width: 70%;
  transform: scaleX(-1);
}

#main-map {
  height: 95%;
  width: 95%;
  margin: 3rem auto;
}

@media screen and (max-width: 768px) {
  .main-container {
    align-items: center;
    background-color: var(--turquoise);
    display: grid;
    grid-template-columns: auto;
    height: max-content;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
  }

  .main-content {
    justify-self: center;
    color: var(--white);
    width: 90%;
    margin: 2rem 0;
  }

  #main-img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    text-align: center;
    height: max-content;
  }

  #main-img {
    display: none;
  }

  .main-btn {
    margin-left: -50px;
  }
}
