/* -----------  Variables ----------- */
:root {
  /* Colores */
  --azulVerdoso100-color: rgb(0, 183, 180);
  --azulVerdoso50-color: rgba(0, 183, 180);
  --amarillo-color: #ffc700;
  --blanco-color: rgba(255, 255, 255, 1);

  /* Tipografía */
  --normal: 16px;
  /*Sombreado*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
main {
  height: 100%;
}

/* -----------  Nav ----------- */
#nav {
  background-color: var(--azulVerdoso50-color);
  height: 3.75rem;
  text-align: center;
  width: 100%;
}

.nav-logo {
  float: left;
  height: 3.75rem;
  padding: 0.625rem 1rem;
  width: auto;
}

#nav ul {
  display: inline-flex;
  list-style: none;
}

#nav li {
  margin-top: 1.25rem;
}

#nav ul li a {
  color: var(--blanco-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
}

#nav .ic-burger {
  color: aliceblue;
  font-size: 16px;
  border: 1px solid red;
}


.nav-contenedor-icono-usuario {
  float: right;
}

.nav-icono-usuario {
  height: 3.75rem;
  padding: 0.625rem 1rem;
  width: auto;
}


.header-texto-sup {
  color: white;
 font-family: 'Poppins', sans-serif;
 font-weight: lighter;
 position: relative;
 font-size: 40px;
 top: 320px;
 left: 20%;
}

.header-texto-inf {
  color: white;
  font-family: 'Poppins', sans-serif;
 font-weight: bold;
 position: relative;
 top: 300px;
 left: 20%;
  font-size: 50px;

}
.header-texto-sup-dcha {
  color: white;
 font-family: 'Poppins', sans-serif;
 font-weight: lighter;
 position: relative;
 font-size: 46px;
 top: 185px;
 left: 60%;
}

.header-texto-inf-dcha {
  color: white;
  font-family: 'Poppins', sans-serif;
 font-weight: bold;
 position: relative;
 top: 165px;
 left: 60%;
  font-size: 50px;
}

h2{
   color: white;
  font-family: 'Poppins', sans-serif;
 font-weight: bold;
 font-size: 40px;
}

h3 {
  color: white;
    font-family: 'Poppins', sans-serif;
 font-weight: lighter;
}
p {
  color: white;
      font-family: 'Poppins', sans-serif;
text-align: justify;
}

/* ----------- responsive  ----------- */

@media screen and (min-width: 701px) and (max-width: 1100px){
  body{
      background-image: url("../img/madre.jpg");
  }
  #entrada{
      width: 60%;
  }

  .header-texto-sup, header-texto-inf {

 left: 10%;
}

}
@media screen and (max-width: 700px){
  body{
      background-image: url("../img/woods.jpg");
  }
  #entrada{
      width: 80%;
  }
}



/* ----------- parallax  ----------- */

.index-circulo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--azulVerdoso100-color);
  margin-top: -25px;
  margin-left: 100%;
  margin-right: auto;
}

.index-circulo img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
  top: 10px;
}

.index-bg01 {
  background-attachment: fixed;
  background-image: url('../img/index-bg01_.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}

.index-bg02 {
  background-attachment: fixed;
  background-image: url('../img/index-bg02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.index-bg03 {
  background-attachment: fixed;
  background-image: url('../img/index-bg03.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.index-bg04 {
  background-attachment: fixed;
  background-image: url('../img/index-bg04.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.index-bg05 {
  background-attachment: fixed;
  background-image: url('../img/index-bg05.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.section01-que-es {
  background-color: var(--azulVerdoso100-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'index-titulo-section index-descripcion ' ;
  height: 500px;
}


#index-titulo-section{
  margin-top: -300px;
  margin-left: 50px;
  display: grid;
  grid-area: "index-titulo-section";
  font-weight: lighter;
  position: relative;
}

#index-descripcion{
  display: grid;
  grid-area: "index-descripcion";
  padding-left: 50px;
}

.pregunta {
  font-size: 50px;
}