/* -----------  Variables ----------- */
:root {
  /* Colores */
  --azulVerdoso100-color: rgb(0, 183, 180);
  --azulVerdosoOpacidad-color: rgba(0, 183, 180, 0.5);
  --amarillo-color: #ffc700;
  --blanco-color: rgba(255, 255, 255, 1);

  /* Tipografía */
  --normal: 16px;
  /*Sombreado*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
main {
  height: 100%;
}

/* -----------  Nav ----------- */
#nav {
  background-color: var(--azulVerdosoOpacidad-color);
  position: absolute;
  width: 100%;
}
#icon-burger {
  background-color: coral;
}

.enlaces {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  overflow: hidden;
}

.enlaces a {
  color: var(--blanco-color);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em;
}

.enlaces #icon-burger {
  display: none;
}

.anclajes {
  position: relative;
  top: -105px;
}

.nav-logo {
  position: absolute;
  width: auto;
  margin: 0.625em 2.5em;
  height: 2.188rem; /* 35px*/
}
.nav-icono-usuario {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.625em 2.5em;
  height: 2.188rem; /* 35px*/
  width: auto;
}

.header-texto-sup {
  width: max-content;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  position: relative;
  font-size: 40px;
  top: 320px;
  left: 20%;
}

.header-texto-inf {
  width: max-content;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: relative;
  top: 300px;
  left: 20%;
  font-size: 50px;
}
.header-texto-sup-dcha {
  width: max-content;

  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  position: relative;
  font-size: 46px;
  top: 185px;
  left: 60%;
}

.header-texto-inf-dcha {
  width: max-content;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: relative;
  top: 165px;
  left: 60%;
  font-size: 50px;
}

h2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
p {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.container-text{
  display: flex;
  flex-direction: row;
}


/* ----------- parallax  ----------- */

.index-circulo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--azulVerdoso100-color);
  margin-top: -25px;
  margin-left: 50%;
  margin-right: auto;
  position: absolute;
}

.index-circulo img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
  top: 10px;
}

.background-general {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.background-01 {
  background-image: url('../imgs/index-bg01.png');
  height: 80%;
}

.background-02 {
  background-image: url('../imgs/index-bg02.jpg');
}

.background-03 {
  background-image: url('../imgs/index-bg03.jpg');
}

.background-04 {
  background-image: url('../imgs/index-bg04.jpg');
}

.background-05 {
  background-image: url('../imgs/index-bg05.jpg');
}

.section01-que-es {
  background-color: var(--azulVerdoso100-color);
  height: 500px;
}

#container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#index-titulo-section {
}

#index-descripcion {
  width: 768px;
}

.pregunta {
}

.mapa-etapas {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 768px;
}
.mapa-caminos {
  width: 768px;
}

/* RESPONSIVE */
@media all and (max-width: 800px) {
  .enlaces {
    overflow: hidden;
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .enlaces {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .enlaces #icon-burger {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
  }

  .enlaces a {
    display: block;
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .enlaces li:last-of-type a {
    border-bottom: none;
  }
}
